body,
html {
  height: 100%;
  margin: 0%;
}

.background {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -5;
}

button:hover {
  cursor: pointer;
}

.characterPictures, .selectionButtons, .confirmButton, .healthbars, .characterPicturesCombat{
  display: flex;
  justify-content: space-around;
}

.sprite {
  max-width: 20%;
  max-height: 20vw;
}

.healthbar {
  background: red;
  padding-left: 2%;
  padding-right: 2%;
}

.combatButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.combatButton {
  background-color: aqua;
  width: 10vw;
}

.disabledbtn {
  opacity: 0.6;
  cursor: not-allowed;
}