body,
html {
  height: 100%;
  margin: 0%;
}

.background {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -5;
}

.characterPictures {
  display: flex;
  justify-content: space-around;
}

.selectionButtons {
  display: flex;
  justify-content: space-around;
}

.sprite{
  max-width: 20%;
  max-height: 20vw;
}

.confirmButton {
  display: flex;
  justify-content: space-around;
}

.healthbar {
  background: red;
  padding-left: 2%;
  padding-right: 2%;
}