body,
html {
  height: 100%;
  margin: 0%;
}

button:hover {
  cursor: pointer;
}

.background {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -5;
}

.characterPictures, .selectionButtons, .confirmButton, .healthbars, .characterPicturesCombat{
  display: flex;
  justify-content: space-around;
}

.sprite {
  max-width: 20%;
  max-height: 20vw;
}

.combatButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.runButton, .abilityButton, .attackButton {
  background-color: rgb(30, 77, 77);
  width: 10vw;
}

.disabledbtn { 
  /* for later when I am going to use abilities */
  opacity: 0.6;
  cursor: not-allowed;
}

.healthbar {
  position: relative;
  width: 20vw;
  height: 2vw;
  background: red;
  border: 2px solid black;
  border-radius: 6px;
  overflow: hidden;
  margin: 1vw;
}

.healthbarFill {
  height: 100%;
  background: green;
  transition: width 0.2s linear
}

.healthbarText {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black;
  pointer-events: none;
}